[Unit]
Description=ClamAV Real-Time Monitor

[Service]
ExecStart=/bin/bash -c "while inotifywait -r -e create,modify /mnt/DATA; do docker exec -w / clamav /Scripts/ScanAndAlert.sh "ClamAV-Monitor-Service"; done"
Restart=always
User=root

[Install]
WantedBy=multi-user.target